body {
  font-family: sans-serif;
}

.accordian {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  padding: 20px;
  background-color: #e1e1e1;
  border-radius: 20px;
}

.accordian {
}

.accordian li {
  display: flex;
  flex-direction: column;
  background-color: #333;
  border-radius: 10px;
  margin-bottom: 10px;

  color: #fff;
}

.accordian li:last-child {
  margin-bottom: 0;
}

.accordian li > *:nth-child(1) {
  cursor: pointer;
  opacity: 0.9;
  padding: 10px;
}

.accordian li > *:nth-child(1):hover {
  opacity: 0.5;
}

.accordian li > *:nth-child(2) {

  display: block;
  overflow: hidden;
  transition: 250ms linear max-height;
  font-size: 11px;
  display: inline-block;
  margin: 0;
  border-color: #444;

  display: flex;
}

/* Active */
.accordian li > *:nth-child(1).active + * {
  transition: 250ms linear max-height;
}
.accordian li > *:nth-child(1) + * > * {
  width: 100%;
  display: flex;
  margin: 0;
}

.accordian li > *:nth-child(1).active + * > * {
  border-top: 1px solid #444;
 
}
.accordian li > *:nth-child(1) + * > *  {
  padding: 10px 10px;

}
